body{
    background-color: black;
}
.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}

.logo-img {
  display: block;
  position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 50%;
  height: auto;
  animation: logo-shine 5s linear infinite;
  filter:
    brightness(0.95)
    drop-shadow(0 0 6px rgba(255,255,255,0.5))
    drop-shadow(0 0 14px rgba(255,255,255,0.35));
}

@keyframes logo-shine {
  0% {
    filter:
      brightness(0.9)
      drop-shadow(0 0 0 rgba(255,255,255,0));
  }

  50% {
    filter: brightness(1.25) drop-shadow(0 0 10px rgba(56, 31, 31, 0.8)) drop-shadow(0 0 22px rgba(54, 44, 44, 0.5)); 
  }

  100% {
    filter: brightness(0.9) drop-shadow(0 0 0 rgba(44, 34, 34, 0));
  }
}